img {
  max-width: 100%;
  max-height:100%;
  border-radius:50%;
  border: 8px solid #e6ffff;
  margin-top: -35px;
}

.image {
  margin-top: 50px;
}
.container {
 display: flex;
 align-items: center;
 justify-content: center;
}

.column {
    float: left;
    width: 50%;
    }

.text {
  font-size: 18px;
    border-radius: 25px;
    border: 6px solid #004d4d;
    background: #009999;
    padding-left: 25px;
    width: 1490px;
    text-align: left;
    height: 280px;
    color: #ffffff;
    margin-left: 14px;
}


.list {
    margin-left: 300px;
    margin-top: -250px;
    width: 800px;
}

.title {
    margin-left: 300px;
    margin-top: -250px;
}
.header {
    background: #669999;
    font-size:30px;
    text-align: center;
    width: 400px;
    height: 120px;
    margin-left: 570px;
    border: 10px solid #476b6b;
    border-radius: 40px;
    color: #ffffff;
}

.btn {
    display: flex;
    margin-right: 20px;
    width: 1100px;
    height: 500px;
    align-items: center;
    border-radius: 100%;
    border: #ffffff;
    column-gap: 60px;
}

.display {
    margin-left: -340px;
    margin-top: 120px;
}

.imgbtn {
    margin-top: 10px;
    margin-left: -8px;
}