.entry {
    background: #669999;
    font-size:30px;
    text-align: center;
    width: 400px;
    height: 120px;
    margin-left: 0px;
    border: 10px solid #476b6b;
    border-radius: 40px;
    color: #ffffff;
}

.myEntry {
    background: #669999;
    font-size:20px;
    text-align: center;
    width: 400px;
    height: 80px;
    margin-left: 10px;
    border: 10px solid #476b6b;
    border-radius: 40px;
    color: #ffffff;
}

.entryText {
  font-size: 18px;
    border-radius: 25px;
    border: 6px solid #004d4d;
    background: #25979c;
    padding-left: 25px;
    width: 1490px;
    text-align: left;
    height: 280px;
    color: #ffffff;
    margin-left: -6px;
}

.innerText {
  font-size: 18px;
    padding-left: 25px;
    width: 700px;
    text-align: left;
    height: 700px;
    color: #ffffff;
    margin-left: -6px;
}

.entryButtons {
    border-radius: 50%;
    height: 80px;
    margin-left: 200px;
    margin-top: -100px;
}

.buttonLevel {
    margin-top: 40px;
}

.blogText {
  font-size: 18px;
    border-radius: 25px;
    border: 6px solid #004d4d;
    background: #25979c;
    padding-left: 25px;
    width: 1490px;
    text-align: left;
    line-height: 24px;
    color: #ffffff;
    margin-left: -6px;
}
